<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Autor: Jorge González</h1>
    <img src="http://mediatique.io/wp-content/uploads/2016/12/arnold-2-wiki-600.jpg"/>
  </body>
</html>
